@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.hero {
  height: 100vh;
  padding-inline: 22rem;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: space-between;

  @include response(tab-port) {
    padding-inline: 10rem;
  }

  &__layout {
    position: absolute;
    left: 0;
    top: -100rem;
    // top: -240rem;
    // left: -91rem;

    background-image: radial-gradient(
      at center left,
      rgba(181, 61, 144, 1) 0%,
      rgba(109, 90, 162, 1) 100%
    );
    height: 200rem;
    aspect-ratio: 1;

    clip-path: circle(72.7% at 25% 15%);

    @include response(desktop) {
      left: 0;
      top: -80rem;
    }
    @include response(tab-port) {
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    z-index: 11;

    &--header {
      font-weight: 900;
      color: $text-color-white;
      margin-block: 3rem;
    }
    &--download-app {
      width: min-content;
      p {
        font-size: 3rem;
        color: $text-color-white;
        white-space: nowrap;
      }
    }
  }
  &__image {
    align-self: flex-end;
    height: 65rem;
    width: 66rem;

    position: relative;
    z-index: 11;

    img {
      height: 100%;
      width: 80%;
      object-fit: contain;
    }
  }
}
