@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.what-we-do {
  padding-left: 20rem;
  padding-right: 5rem;

  padding-block: 5rem;
  background-color: #66c8cd;

  display: flex;
  gap: 4rem;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    padding-inline: 10rem;
    flex-direction: column;
  }
  @include response(phone) {
    padding-inline: 5rem;
    flex-direction: column;
    gap: 2rem;
  }

  .heading {
    flex-grow: 1;
    align-self: center;

    @include response(phone) {
      align-self: flex-start;
      margin-bottom: 4rem;
    }

    span {
      display: block;
      font-size: 15rem;
      color: $color-primary;
      white-space: nowrap;

      @media screen and (max-width: 1024px) {
        font-size: 12rem;
        display: inline;
      }

      @include response(phone) {
        font-size: 8rem;
      }
    }
  }
  .vl {
    border-left: 1px dashed $text-color-white;

    @media screen and (max-width: 1024px) {
      border-top: 1px dashed $text-color-white;
    }
  }
  .content {
    flex-grow: 1;

    &__type {
      display: flex;
      align-items: center;
      gap: 3rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &:nth-child(2) {
        margin-left: 10rem;

        @include response(phone) {
          margin-left: 0;
        }
      }
      &:nth-child(3) {
        margin-left: 20rem;
        @include response(phone) {
          margin-left: 0;
        }
      }

      img {
        height: 22rem;
        aspect-ratio: 1;

        @include response(phone) {
          height: 12rem;
        }
      }
      .box {
        max-width: 45rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        span {
          font-size: 3.9rem;
          font-weight: 700;
          color: $text-color-white;

          transition: all 0.2s;

          display: flex;
          align-items: center;
          gap: 2rem;

          .icon {
            transition: all 0.2s;
          }
        }
        p {
          font-size: 1.8rem;
          color: $text-color-white;
          opacity: 0;

          transition: all 0.2s;

          @include response(phone) {
            font-size: 2rem;
          }
        }
      }

      &:nth-child(1) .box p {
        margin-bottom: -8rem;

        @include response(phone) {
          margin-bottom: -10rem;
        }
      }
      &:nth-child(2) .box p {
        margin-bottom: -6rem;

        @include response(phone) {
          margin-bottom: -10rem;
        }
      }
      &:nth-child(3) .box p {
        margin-bottom: -10rem;

        @include response(phone) {
          margin-bottom: -13rem;
        }
      }

      &:hover .box p {
        opacity: 1;
        margin-bottom: 0;
      }
      &:hover .box span .icon {
        transform: rotate(180deg);
      }
    }
  }
}
