@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.btn-container {
  margin-top: 2rem;

  display: flex;
  gap: 1rem;

  .btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    background-color: transparent;
    border-radius: 1rem;
    white-space: nowrap;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    img {
      height: 5rem;
    }
  }
  .btn-white {
    border: 1px solid $text-color-white;
    color: $text-color-white;
  }
  .btn-black {
    border: 1px solid $text-color-grey;
    color: $text-color-grey;
  }
}
