@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.slider-card {
  &__comment {
    text-align: center;
    p {
      font-size: 2.3rem;
      color: $text-color-grey;

      @include response(phone) {
        font-size: 3rem;
      }
    }
  }
  hr {
    border-top: 1px dashed $color-purple;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-block: 5rem;
  }
  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-container {
      height: 10rem;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 2px solid $color-primary;
      padding: 3px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    .name {
      font-size: 2.8rem;
      font-weight: 700;
      color: $color-primary;

      @include response(phone) {
        font-size: 3.3rem;
      }
    }
    .designation {
      font-size: 2rem;
      color: $color-purple;

      @include response(phone) {
        font-size: 2.5rem;
      }
    }
  }
}
