@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.our-blog {
  .heading-container {
    padding: 15rem 22rem 2rem 22rem;

    @include response(tab-port) {
      padding-inline: 10rem;
    }
    h2 {
      font-size: 4rem;
      font-weight: 700;
      color: $color-primary;
    }
  }
  hr {
    border-top: 1px dashed $color-purple;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  .card-container {
    // background-color: pink;
    padding: 5rem 15rem;

    display: flex;
    gap: 5rem;

    @include response(tab-port) {
      padding-inline: 7rem;
    }

    &__open {
      flex: 1;
    }
    &__close {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;
    }
  }
}
