@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.our-blog {
  .heading-container {
    padding: 15rem 20rem 2rem 20rem;

    @media screen and (max-width: 1024px) {
      padding-left: 10rem;
      padding-right: 10rem;
    }

    @include response(phone) {
      padding: 5rem;
    }
    h2 {
      font-size: 5.9rem;
      font-weight: 700;
      color: $color-primary;
    }
  }
  hr {
    border-top: 1px dashed $color-purple;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  .card-container {
    padding: 5rem 13rem;

    display: flex;
    gap: 5rem;

    @media screen and (max-width: 1024px) {
      padding-inline: 7rem;
    }
    @include response(phone) {
      padding-inline: 5rem;
      flex-direction: column;
    }

    &__open {
      flex: 1;
    }
    &__close {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;
    }
  }
}
