@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.app {
  padding: 10rem 22rem 0 15rem;

  display: flex;
  align-items: center;
  gap: 5rem;

  @include response(tab-port) {
    padding-left: 7rem;
    padding-right: 10rem;
  }

  .img-container {
    height: 100rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }
  .content {
    h3 {
      white-space: nowrap;
    }
  }
}
