@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.app {
  padding: 10rem 22rem 0 15rem;

  display: flex;
  align-items: center;
  gap: 5rem;

  @media screen and (max-width: 1024px) {
    padding-left: 7rem;
    padding-right: 10rem;
  }
  @include response(phone) {
    flex-direction: column-reverse;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .img-container {
    height: 100rem;

    @media screen and (max-width: 1024px) {
      height: 70rem;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      white-space: nowrap;
      @include response(phone) {
        font-size: 3.5rem;
      }
    }
  }
}
