@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.what-entrepreneurs {
  background-color: $color-purple;
  padding: 5rem 20rem 5rem 20rem;

  display: flex;
  gap: 5rem;

  @media screen and (max-width: 1024px) {
    padding-inline: 10rem;
    flex-direction: column;
  }
  @include response(phone) {
    padding-inline: 5rem;
  }

  .heading-container {
    flex: 1;
    align-self: center;

    @include response(phone) {
      margin-bottom: 4rem;
    }
    h3 {
      font-size: 7.8rem;
      font-weight: 700;
      color: $color-blue-light;

      span {
        display: block;

        @media screen and (max-width: 1024px) {
          display: inline;
        }
      }
    }
  }
  .vl {
    border-left: 1px dashed $text-color-white;
  }
  .slider-container {
    flex: 2;
    overflow: hidden;
    height: 50rem;
    padding-inline: 5rem;

    display: flex;
    align-items: center;

    @include response(phone) {
      padding-inline: 0;
    }
  }
}
