@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.entrepreneur-card {
  display: flex;
  gap: 5rem;

  @include response(phone) {
    flex-direction: column;
    gap: 0;
  }
  .img-container {
    height: 13rem;
    aspect-ratio: 1;
    padding: 3px;
    border-radius: 50%;
    border: 2px solid $color-primary;
    padding: 3px;

    @include response(phone) {
      align-self: center;
      margin-bottom: 2rem;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .content-container {
    @include response(phone) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .description {
      font-size: 1.8rem;
      line-height: 1.2;
      color: $text-color-white;
      margin-bottom: 3rem;
    }
    .box {
      @include response(phone) {
        text-align: center;
      }
      .name,
      .designation {
        display: block;
        color: $text-color-white;
      }
      .name {
        font-size: 2rem;
        font-weight: 700;
      }
      .designation {
        font-size: 1.8rem;
      }
    }
  }
}
