@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.arrow-btn {
  border: none;
  background: none;
  cursor: pointer;
  img {
    height: 5rem;
  }
  .icon {
    @include response(phone) {
      margin-top: 60rem;
    }
  }
}
