@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.slider {
  overflow: hidden;
  .arrow-center {
    display: flex;
    gap: 5rem;
  }
  .arrow-bottom {
    display: flex;
    align-items: flex-end;
  }
}
