@import "../../sass/mixins.scss";
@import "../../sass/typography.scss";
@import "../../sass/variables.scss";

.footer {
  // height: 100vh;
  background-image: radial-gradient(
    at top,
    rgba(181, 61, 144, 1) 0%,
    rgba(109, 90, 162, 1) 100%
  );

  .number {
    padding-block: 10rem 3rem;
    text-align: center;
    color: $color-blue-light;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h1 {
      @include response(phone) {
        font-size: 4.5rem;
      }
    }

    img {
      height: 6rem;

      @include response(phone) {
        height: 4rem;
      }
    }
  }
  hr {
    border-top: 1px dashed $text-color-white;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  .container {
    padding: 10rem 22rem;

    @include response(tab-port) {
      padding-inline: 10rem;
    }

    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
    grid-template-rows: repeat(2, [row-start] min-content [row-end]);

    @include response(phone) {
      grid-template-columns: [col-start] 1fr [col-end];
      grid-template-columns: repeat(3, [row-start] min-content [row-end]);
    }

    .content-left {
      grid-column: col-start 1 / col-end 1;
      grid-row: row-start 1 / row-end 1;

      display: flex;
      flex-direction: column;

      @include response(phone) {
        grid-column: col-start / col-end;
        grid-row: row-start 1 / row-end 1;
      }

      .box {
        .logo-container {
          height: 13rem;
          aspect-ratio: 1;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        p {
          margin-top: 4rem;
          color: $text-color-white;
          font-size: 2rem;
        }
      }
      span {
        font-size: 1.4rem;
        margin-top: 8rem;
        color: $text-color-white;
      }
    }
    .content-right {
      grid-column: col-start 2 / col-end 2;
      grid-row: row-start 1 / row-end 1;

      display: flex;
      justify-content: end;

      @include response(phone) {
        grid-column: col-start / col-end;
        grid-row: row-start 2 / row-end 2;

        justify-content: flex-start;
      }

      .box {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;

        .media-container {
          font-size: 3rem;
          color: $color-blue-light;

          display: flex;
          justify-content: space-between;
        }
        h3 {
          margin-block: 2rem;
          color: $text-color-white;
        }
        p {
          font-size: 2rem;
          color: $text-color-white;

          &:nth-child(6) {
            margin-top: 2rem;
          }
        }
        span {
          margin-top: auto;
          font-size: 1.4rem;
          color: $text-color-white;
        }
      }
    }
    .copyright {
      grid-column: col-start 1 / col-end 2;
      grid-row: row-start 2 / row-end 2;

      margin-top: 10rem;

      display: flex;
      justify-content: space-between;

      @include response(phone) {
        grid-column: col-start / col-end;
        grid-row: row-start 3 / row-end 3;
      }

      span {
        color: $color-blue-light;
        font-size: 1.6rem;

        &:nth-child(2) {
          font-weight: 700;
        }
      }
    }
  }
}
