@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.people-benefit {
  // height: 100vh;
  padding: 10rem 35rem;

  @include response(tab-port) {
    padding-inline: 23rem;
  }
  @include response(phone) {
    padding-inline: 5rem;
  }

  h3 {
    text-align: center;
    span {
      display: block;

      &:nth-child(1) {
        color: $color-purple;
      }
      &:nth-child(2) {
        color: $color-primary;
      }
    }
  }
}
