@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.team {
  &__heading {
    padding-top: 15rem;
    padding-bottom: 5rem;
    background-color: $color-primary;
    h1 {
      font-size: 15rem;
      text-align: center;
      color: $text-color-white;

      @include response(phone) {
        font-size: 7rem;
      }
    }
  }
  &__member {
    padding: 10rem 20rem 15rem 20rem;

    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @include response(tab-port) {
      padding-inline: 10rem;
    }

    @include response(phone) {
      padding-inline: 5rem;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5rem;
    }
  }
}
